@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Lekton:ital,wght@0,400;0,700;1,400&display=swap');

/*
 font-family: 'Lekton', sans-serif;
font-family: 'Coiny', cursive;
 */

body {
	margin: 25px;
	font-family: 'Lekton', sans-serif;
}

h1 {
	font-family: 'Coiny', cursive;
	font-size: 4em;
	color: #ff579f;
}

.App {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

a {
	color: #60935d;
	margin: 5px;
	text-decoration: none;
}

a:hover {
	color: #ff579f;
}

a:active {
	background-color: yellow;
}

.App-link {
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px;
	font-size: 1.25em;
	text-decoration: none;
}

.App-link:hover {
	color: #ff579f;
}

.App-link:active {
	background-color: yellow;
}

ul {
	list-style: none;
	padding-left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

li {
	display: inline-block;
	padding: 10px;
	font-size: 1.2em;
	font-weight: bold;
}

li a {
	font-weight: normal;
}

.title-img {
	padding-bottom: 10px;
}

fieldset {
	padding: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

label {
	display: block;
}

input {
	margin-bottom: 10px;
	margin-top: 5px;
	display: block;
}

button {
	margin: 10px;
}
